title{
    display: block;
    font-size: 36pt;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: #00ffff;
    background-color: #ff7f50;
}

philosopher{
    display: block;
    font-size: 16pt;
    text-align: center;
    color: #00ffff;
    background-color: #ff7f50;
}

book{
    display: block;
    font-size: 28pt;
    text-align: center;
    font-style: italic;
}
paragraph{
    display: block;
    margin-top: 10pt;
}
/*standout{*/
/*    color: #00ffff;*/
/*    background-color: #ff7f50;*/
/*}*/
/*paragraph first{*/
/*    text-indent: 40pt;*/
/*    margin-top: 30pt;*/
/*    background-color: yellow;*/
/*}*/